.first_section{
    height: 100%;
    background: url(../../images/lp-tolips/tolips-pattern.svg);
/* background-attachment: fixed; */
}

.offer{
 font-family: "Open Sans";
 letter-spacing: 1px;
 font-size: 26px;
 color: #0b0b0b;
 margin-top: 25%;
 text-align: right;

}

.bouket_tolips{
 margin-top: 20%;
 height: 500px;
 background: url(../../images/lp-tolips/bouket-tulips.png) 50px 0px no-repeat;

}

.offer_3{
 text-align: center;
 float: right;
 border-radius: 5px;
 padding: 10px;
 color: white;
 width: 215px;
 height: 55px;
 font-weight: 700;
 background-color: #35c21e
}

.personat_mg{
 height: 350px;
 background-color: #eeeeee;
}

.img_mg{
 height: 350px;
 background: url(../../images/lp-tolips/img_mg.jpg) no-repeat;
 background-position: right center;
}

.send_massege{
 margin-top: 15px;
 width: 215px;
 padding: 12px;
 padding-left: 43px;
 border: 1px solid #507299;
 border-radius: 5px;
 background: url(../../images/lp-tolips/vk-507299.svg) 10px 10px no-repeat;
 background-color: #ffffff;
 background-size: 25px;
 cursor: pointer;
}

.send_massege:hover{
 color: white;
 background: url(../../images/lp-tolips/vk-white.svg) 10px 8px no-repeat;
 background-color: #507299;
 background-size: 25px;
 transition: background-color 0.5s;
}

.chose_colour{
 float: left;
  width: 170px;
  height: 45px;
  border: 1px solid #f1f1f1;
  /*border-radius: 5px;*/
  margin-top: 20px;
  margin-right: 20px;
  padding: 12px;
  padding-left: 15px;
  color: #0b0b0b;
}

.chose_colour:hover{
 border-bottom: 3px solid #ff432b;
 /*background: #f8f8f8;*/
 cursor: pointer;
 transition: border 0.2s;
}

.chose_colour_click{
 border-bottom: 3px solid #ff432b;
 /*background: #f8f8f8;*/
 cursor: pointer;
 /*transition: border 0.2s;*/
}






.bg_colour_rad{
 background: #FF432B;
 border-radius: 100px;
 height: 20px;
 width: 20px;
}

.bg_colour_purple{
 background: #dc26b8;
 border-radius: 100px;
 height: 20px;
 width: 20px;
}

.bg_colour_yellow{
 background: #ebc60b;
 border-radius: 100px;
 height: 20px;
 width: 20px;
}

.bg_colour_pink{
 background: #f86474;
 border-radius: 100px;
 height: 20px;
 width: 20px;
}

.bg_colour_white{
 border: 1px solid #dde4d3;
 background: #ffffff;
 border-radius: 100px;
 height: 20px;
 width: 20px;
}

.bg_colour_vinous{
 background: #7a1413;
 border-radius: 100px;
 height: 20px;
 width: 20px;
}





.amount{
 height: 80px;
 border: 1px solid #f1f1f1;
 border-radius: 2px;
 padding: 17px;
 max-width: 350px;
 min-width: 200px;


}

.amount:hover{
 border-bottom: 3px solid #ff6b55;
 cursor: pointer;
 transition: border 0.2s;
}

.amount_rad{
 height: 80px;
 border-bottom: 3px solid #ff432b;
 border-radius: 2px;
 padding: 17px;
}


.order{
 background-color: #35c11e;
 color: white;
 font-size: 11px;
 font-weight: 600;
 letter-spacing: 1px;
 border-radius: 3px;
 height: 40px;
 padding: 12px;
 text-align: center;
 cursor: pointer;
}


.order:hover{
 background-color: #2ca01b;
 font-size: 11px;
}

.count_bouket{
 float: right;
 font-weight: 200;
 font-size: 32px;
}


.select_count{
  font-weight: 400;
}

.personal_text{
 margin-top: 100px;
}

.select_colour{
 background-color: white;
 height: 300px;
}

.second_question{
 height: 170px;
 background: url(../../images/lp-tolips/2_question.jpg) no-repeat;
}

.text_size{
 font-size: 22px;
 font-weight: 300;
 margin-top: 120px;
 text-align: right;
}


@media(max-width:768px) {

 .personat_mg{
  height: auto;
 }

 .img_mg{
  height: 250px;
  background-position: center center;
 }

 .personal_text{
  text-align: center;
  margin-top: 1px;
 }

 .send_massege{

  margin: auto auto;
  margin-top: 20px;
  margin-bottom: 40px;
 }

 .offer{
  padding-left: 50px;
  text-align: left;
 }
 .offer_3{
  float: left;
 }
 .bouket_tolips{
  background-position: center center;
 }
 .bouket_tolips {
  height: 400px;
 }
 .first_section{
  min-height: 850px;
 }
 .intro-direction{
  display: none;
 }

.first_question{
   display: none;
  }
.select_colour{
 height: 250px;
}
 .second_question{
  background-position: center center;
 }

 .text_size{
  text-align: center;
 }



}

@media(max-width:992px) {
 .amount{
  margin: 20px;
 }

}
